& {
  @extend %sheet;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 1em 0;
  border-radius: 2px;
  font-size: 0.8em;
  box-shadow: $box-shadow-1;
}

.header {
  margin: 1em 1.5em;
  color: lighten($text-color, 50%);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.toc-link {
  margin: 0 1em;
  padding: 0.5em 1em;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  &.active {
    border-left-color: $brand-primary;
  }
}