<div class="header">Table of Contents</div>
{{#each guide.tableOfContents as |entry|}}
  {{log entry}}
  <a href="#{{entry.slug}}" class="toc-link level-{{entry.level}}">{{entry.title}}</a>
{{/each}}
