& {
  @extend %flex;
}

.hero {
  @include hero-bg($features-primary);

  .inner-hero {
    flex-direction: column;
  }
}

.section-header {
  margin-top: 10rem;
  text-align: center;
}

.section-subhead {
  @extend %container;
  font-size: $font-size-large;
  justify-content: center;
}

.features {
  @extend %flex;
  position: relative;
  padding-top: 2rem;
}

.feature-section {
  @extend %flex;
  padding: 2rem 0;

  &:nth-child(odd) {
    background-color: transparent;
    border: none;
  }

  .container {
    @extend %container, %flex;
    padding-bottom: 1em;
    border-bottom: 1px solid $off-white-border;
  }

  .feature-section-headline {
    font-size: $font-size-extra-large * 1.2;
  }

  .feature-section-subhead {
    margin-top: 0.25em;
    color: $text-color-light;
    font-size: $font-size-large;
  }
}

.feature-tiles {
  @extend %flex;
  @extend %container;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-tile {
  @extend %flex;
  flex: 0 0 28%;
  margin: 2em 0;

  .headline {
    font-weight: 700;
  }

  .description {
    flex: 1 0 auto;
  }
}

.comparison {
  @extend %flex;
  @extend %container;
}

.master-detail {
  @extend %flex;
  flex-direction: row;

  .master {
    position: relative;
    padding: 3rem 0;

    &::after {
      content: '';
      position: absolute;
      background: linear-gradient(rgba($off-white-bg, 0) 0, $off-white-bg 5%, $off-white-bg 95%, rgba($off-white-bg, 0) 100%);
      width: 1px;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
    padding: 1rem;
    border-top: 1px solid $off-white-border;
    border-bottom: 1px solid $off-white-border;
    opacity: 0.5;
    cursor: pointer;

    &.active, &:hover {
      $bg-color: mix($white, $brand-primary, 95%);
      background: linear-gradient(-90deg, $off-white-bg 70%, $white 100%);
      opacity: 1;
    }

    .comparison-logo {
      width: 8rem;
    }
  }

  .detail {
    padding: 3rem;

    .summary {
      font-size: $font-size-large;
    }

    .pros-and-cons {
      display: flex;
      margin-top: 1rem;
    }

    .pros, .cons {
      flex: 0 0 40%;
      margin-right: 5%;

      .headline {
        font-size: $font-size-base-plus;
        font-weight: 700;
      }

      ul {
        margin: 0;
        padding: 0 0 0 1.2em;
        font-size: $font-size-base;;
      }

      li {
        margin: 0.75em 0;
      }
    }
  }
}

.doctrine {
  @extend %flex;

  .section-subhead {
    display: block;
    max-width: $long-form-width;
    font-size: $font-size-large-minus;
  }
}

.doctrine-points {
  margin: 5rem 0 0 0;
  padding: 0;
}

.doctrine-point {
  @extend %flex;
  align-items: center;
  padding: 5rem 0;

  &:nth-child(odd) {
    border-top: 1px solid $off-white-border;
    border-bottom: 1px solid $off-white-border;
    background-color: $off-white-bg;
  }

  .title {
    @extend %container;
    max-width: $long-form-width;
  }

  .description {
    @extend %container;
    max-width: $long-form-width;
    font-size: $font-size-large;
  }
}

.doctrine-footnote {
  @extend %container;
  margin: 5rem auto;
  max-width: $long-form-width;
}