a, button {
  transition: transform ease-out 0.1s;

  &:active {
    transform: scale(0.95);
    transition: transform ease-out 0.1s;
  }
}

@mixin btn($color: $brand-primary) {
  @include shadow-medium($color);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.7em 1.2em;
  background-color: $color;
  border-radius: $border-radius;
  color: $white;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow ease-out 0.1s,
              transform ease-out 0.1s;

  &:hover {
    @include shadow-medium-up($color);
    transform: translateY(-1px);
    transition: box-shadow ease-out 0.1s,
                transform ease-out 0.1s;
  }

  &:active {
    transform: scale(0.97);
    transition: transform ease-out 0.1s;
  }
}

%btn-primary {
  @include btn($button-primary);
}

%btn-secondary {
  @include btn($button-secondary);
}

%btn-invert {
  @include btn($text-color);
  background-color: $white;
  color: $text-color;
}
