pre {
  margin-top: 1em;
  padding: 1em;
  border-radius: 4px;
  background-color: $code-bg;
  color: $text-color-dark;
  line-height: 1.3em;
  overflow-x: auto;

  code {
    letter-spacing: 0;
  }
}

code {
  display: inline-block;
  padding: 0.1em 0.4em;
  background-color: $code-bg;
  border-radius: $border-radius;
  color: $text-color;
  font-family: $monospace;
  font-weight: 500;
  letter-spacing: 0;
}
