%container {
  display: flex;
  align-self: center;
  width: $container-width;

  @media(max-width: 900px) {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}

%flex {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

@mixin sheet($border-color: $black) {
  border: 1px solid rgba($border-color, 0.05);
  background-color: $white;
}

@mixin hero($_) {
  @warn 'removed';
}

@mixin hero-bg($base-color, $offset-color: adjust-color($base-color, $hue: -10deg, $lightness: +15%)) {
  background-image: linear-gradient(52deg, $base-color, $offset-color);
}
