@import 'normalize';
@import 'fira-code-font';
@import 'syntax-highlighting';
@import 'ember-basic-dropdown';

$white: #fff;
$black: #000;
$off-white: darken($white, 2%);
$brand-primary: #1359BF;
$brand-primary-dark: #15517c;
$text-color: rgb(45, 64, 75);
$text-color-dark: rgb(42, 54, 70);
$text-color-hover: rgb(21, 28, 39);
$light-text-color: $text-color; // TODO: remove
$link-color: $brand-primary;
$button-primary: #00CB63;
$button-secondary: #002F69;

$callout-bg: #F2F7FA;
$callout-bg-dark: #3D4C5F;
$guides-bg: #11865f;
$api-bg: #3d3c8d;
$code-bg: #f6f6fa;
$api-example-bg: $code-bg;

$container-width: 1000px;
$pages-body-width: 620px;
$navbar-height: 5em;
$border-radius: 3px;

$shadow: rgba(#26689A, 0.17);
$box-shadow-1: 0 6px 9px $shadow;
$box-shadow-2: 0 8px 12px $shadow,
               0 12px 30px $shadow;

$sans-serif: 'Muli', sans-serif;
$serif: 'Merriweather', serif;
$monospace: 'Fira Code', monospaced;

@import 'markdown-content';

@mixin breakpoint-below($width) {
  @media(max-width: $width) {
    @content;
  }
}

@mixin breakpoint-above($width) {
  @media(min-width: $width) {
    @content;
  }
}

:root {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > .ember-view {
    display: flex;
    height: 100%;
  }
}

a, button {
  text-decoration: none;
  transition: transform ease-out 0.1s;

  &:active {
    transform: scale(0.95);
    transition: transform ease-out 0.1s;
  }
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  color: $text-color-dark;
  font-weight: 700;
}

%no-line-heading::after {
  display: none;
}

p {
  margin-top: 1em;
  margin-bottom: 0;
  line-height: 1.7;
}

pre {
  background-color: $code-bg;
}

code {
  display: inline-block;
  padding: 0 0.3em;
  font-size: 0.9em;
  font-family: $monospace;
  letter-spacing: -1px;
}

input {
  border: 1px solid lighten($text-color, 30%);
  &:focus {
    outline: none;
    border-color: $brand-primary;
    transition: border ease-out 0.2s;
  }
}

.liquid-outlet,
.liquid-outlet > .liquid-child {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.emoji {
  display: inline-block;
  border-radius: 2px;
  width: 1.2em;
}

@keyframes busy {
  to {transform: rotate(360deg);}
}
.busy {
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: inherit;
    animation: busy .6s linear infinite;
  }
}

%container {
  display: flex;
  flex: 0 0 auto;
  align-self: center;
  width: $container-width;

  @include breakpoint-below(900px) {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}
.container {
  @extend %container;
}

%flex {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

%sheet {
  border: 1px solid rgba($black, 0.05);
  background-color: $white;
}

.sheet {
  @extend %sheet;
}

%sheet-alternate {
  background-color: darken($white, 2%);
}

%btn {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.7em 1.2em;
  border-radius: 3px;
  color: $white;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba($black, 0.2);
  transition: box-shadow ease-out 0.1s,
              transform ease-out 0.1s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba($black, 0.3);
    transition: box-shadow ease-out 0.1s,
                transform ease-out 0.1s;
  }

  &:active {
    transform: scale(0.95);
    transition: transform ease-out 0.1s;
  }
}

%btn-primary {
  @extend %btn;
  background-color: $button-primary;
}

%btn-secondary {
  @extend %btn;
  background-color: $button-secondary;
}

%btn-invert {
  background-color: $white;
  color: $brand-primary;
}

@mixin hero($base-color, $offset-color: adjust-color($base-color, $hue: -10deg, $lightness: +15%)) {
  padding-top: $navbar-height;
  background-image: linear-gradient(52deg, $base-color, $offset-color);
}

@mixin dot($size: 1em, $color: $white) {
  width: $size;
  height: $size;
  border-radius: $size;
  background-color: $color;
}

@import 'pod-styles';