& {
  @extend %flex;
}

.hero {
  @include hero-bg($community-primary);

  .inner-hero {
    flex-direction: column;
  }
}

.section-header {
  margin-top: 10rem;
  text-align: center;
}

.help-options {
  @extend %flex;
  @extend %container;
  margin-bottom: 8rem;
}

.help-option {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;

  .logo {
    width: 4em;
    margin-right: 1em;
  }

  .body {
    @extend %flex;
    flex: 1 0 0;
    align-items: flex-start;
  }

  .title {
    margin-top: 0;
  }

  .action {
    @extend %btn-primary;
    margin: 1rem 0;
  }
}