{{#-ui/hero}}
  <h1 class="headline">
    Community
  </h1>
  <p class="subhead">
    For all the talk of technology, open source ultimately comes down to
    the people. Need a helping hand, or want to offer one? Find out how
    to get involved!
  </p>
{{/-ui/hero}}

<h2 class="section-header">Need Help?</h2>

<div class="help-options">
  <div class="help-option">
    <img src="/images/help-options/office-hours.svg" alt="" class="logo">
    <div class="body">
      <h2 class="title">
        Weekly Free Office Hours
      </h2>
      <p class="description">
        Denali contributors generously donate a bit of time each week for
        office hours. Sign up for an appointment and get a chance to talk
        through your problem face to face. Keep in mind sessions are short so
        be prepared with a clear description of the problem and a
        reproduction if possible.
      </p>
      <a href="https://calendly.com/davewasmer/denali-office-hours" class="action">Schedule a Session</a>
    </div>
  </div>

  <div class="help-option">
    <img src="/images/help-options/slack.png" alt="" class="logo">
    <div class="body">
      <h2 class="title">
        Slack
      </h2>
      <p class="description">
        Join the conversation and talk about new features, bug reports, or
        whatever else you want.
      </p>
      <a href="https://denali-slack.now.sh/" class="action">Join Denali Slack</a>
    </div>
  </div>

  <div class="help-option">
    <img src="/images/help-options/stack-overflow.png" alt="" class="logo">
    <div class="body">
      <h2 class="title">
        Stack Overflow
      </h2>
      <p class="description">
        Post your question to Stack Overflow, being sure to tag it with
        <code>denali</code>. We try to monitor for questions with that tag.
      </p>
      <a href="https://stackoverflow.com/questions/ask?tags=denali" class="action">Post on Stack Overflow</a>
    </div>
  </div>
</div>