& {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  align-self: stretch;
  font-size: 15px;
  line-height: 1.7;
}

.body {
  max-width: $pages-body-width;
  margin-bottom: 30vh;
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  margin-top: 1.25em;
  margin-bottom: -0.5em;
  font-family: $serif;
  letter-spacing: 0.5px;

  &::before {
    content: '#';
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 0.25em;
    font-weight: 900;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0.3;
    }
  }
}

pre {
  margin-top: 1em;
  padding: 1em;
  border-radius: 4px;
  background-color: $code-bg;
  color: $text-color-dark;
  line-height: 1.3em;
  overflow-x: auto;

  code {
    letter-spacing: 0;
  }
}

blockquote {
  margin: 2em 1em;
  padding: 1em 2em 1em 1.25em;
  background-color: mix($white, $brand-primary, 90%);
  border-radius: $border-radius;
  color: $text-color-dark;

  *:first-child {
    margin-top: 0;
  }

  p {
    line-height: 1.5;
  }
}

li {
  margin: 0.75em 0;
}

code {
  display: inline-block;
  padding: 0.1em 0.4em;
  background-color: $code-bg;
  border-radius: $border-radius;
  font-weight: 500;
  letter-spacing: 0;
}

.table-of-contents {
  position: relative;
  flex: 1 1 auto;
  margin-top: -4em;
  margin-left: 2em;
}