& {
  @extend %flex;
}

.hero {
  @include hero-base($guides-primary);

  .headline {
    font-size: 4rem;
  }

  .guides-nav {
    width: $guides-nav-width;
  }
}

.page-body {
  @extend %container;
  padding-left: $guides-nav-width;
}
