$guides-nav-width: 11em;

& {
  @extend %flex;
  position: relative;
}

.contours-background {
  @include hero($guides-bg);
}

.guide-hero {
  @extend %flex;
  @extend %container;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 3em;
  padding-bottom: 2em;
  color: $white;
  z-index: 2;

  .guides-nav-container {
    position: absolute;
    left: 0;
    margin-top: 3em;
    margin-right: 2em;
    z-index: 2;
  }

  .guides-nav {
    @extend %flex;
    @extend %sheet;
    width: $guides-nav-width;
    padding-bottom: 0.5em;
    border-radius: $border-radius;
    color: $text-color;
    // box-shadow: $box-shadow-1;
  }

  .guides-hero-intro {
    padding-left: $guides-nav-width + 2em;
  }
}

.guide-body {
  @extend %flex;
  @extend %container;
  flex-direction: row;
  align-items: flex-start;
  padding-left: $guides-nav-width + 2em;

  .page-body {
    line-height: 1.5;

    p {
      line-height: 1.5;
    }
  }
}