&.header {
  @extend %container;
  display: flex;
  position: absolute;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: $white;
  z-index: 10;
}

.brand {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  color: inherit;
  font-size: 1.28em;
}

.logo {
  width: 1.2em;
  margin-right: 0.2em;
}

.wordmark {
  font-weight: 900;
}

.nav {
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 1em;
}

.nav-link {
  position: relative;
  padding: 0.75em 1em;
  color: inherit;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}

.nav-dropdown {
  .trigger {
    user-select: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

&.content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 30em;
  margin-top: 1em;
  padding: 1em;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: $box-shadow-2;
  color: $text-color;

  &::before {
    $size: 15px;
    content: '';
    position: absolute;
    top: -$size/2 + $border-radius;
    left: calc(50% - #{$size}/2);
    width: $size;
    height: $size;
    transform: rotate(45deg);
    border-radius: $border-radius;
    background-color: $white;
  }
}

.docs-link {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  padding: 1em;

  svg {
    transition: filter 0.1s ease-out;
  }

  &:hover {
    .docs-link-header,
    .docs-link-description {
      color: $text-color-hover;
      transition: color 0.1s ease-out;
    }
    svg {
      filter: grayscale(50%);
      transition: filter 0.1s ease-out;
    }
  }
}

.docs-link-header {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: $text-color-dark;
  font-size: 1.2em;
  font-weight: 700;
  transition: color 0.1s ease-out;
}

.docs-link-description {
  margin-top: 0.2em;
  margin-bottom: 0;
  color: $text-color;
  transition: color 0.1s ease-out;
}