<h5 class="menu-header">Guides</h5>
<p class="menu-subhead">
  In depth walkthroughs of each part of the Denali framework.
</p>
<div class="guides-groups">
  {{#each-in guidesByGroup as |groupName guides|}}
    <div class="guides-group">
      <div class="group-header">
        {{groupName}}
      </div>
      <div class="group-list">
        {{#each guides as |guide|}}
          {{#link-to 'docs.guides.guide' guide.slug class='guide-link'}}
            {{guide.title}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  {{/each-in}}
</div>