.headline {
  margin-bottom: 0;
  color: $white;
  font-size: 4em;
  font-family: $serif;
  font-weight: 300;
  line-height: 1.2;
}

.source {
  font-size: 0.9em;
}

.lede {
  margin-bottom: 3em;
  font-family: $serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 300;

  p {
    line-height: 1.5;
  }
}