.footer {
  position: relative;
  padding: 5em 0;
  font-size: 11px;
  text-align: center;
  opacity: 0.7;

  @media(max-width: $container-width - 4rem) {
    padding: 2em 0;
  }

  a {
    text-decoration: underline;
  }
}
