<footer class="footer">
  <div class="legal">
    Copyright {{year}} Dave Wasmer & contributors |
    Map background © Mapbox |
    <a href="https://github.com/denali-js/denali/">Github</a> |
    <a href="https://twitter.com/denali_js/">Twitter</a>
  </div>
</footer>