& {
  @extend %flex;
  align-items: center;
}

.contours-background {
  @include hero($addons-primary);
}

.mapboxgl-control-container {
  display: none;
}

.hero {
  @extend %flex;
  @extend %container;
  position: relative;
  padding-top: 3em;
  padding-bottom: 10em;
  color: $white;
  z-index: 2;

  .headline {
    margin-top: 0.5em;
    margin-bottom: 0;
    color: inherit;
    // font-family: $serif;
    font-size: 5.5em;
    font-weight: 300;
    line-height: 1.1;
  }

  .subhead {
    margin-top: 0;
    width: 70%;
    font-size: 1.4em;
  }
}

.featured {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -6em;
  margin-bottom: 6em;
  z-index: 2;
}

.main {
  @extend %flex;
  @extend %container;
  flex-direction: row;
}

.addon-nav {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  margin-right: 2em;
}

.addon-listings {
  display: flex;
  flex: 1 1 auto;
}
