& {
  @extend %flex;
}

.hero {
  @include hero-bg($addons-primary);

  .inner-hero {
    flex-direction: column;
  }
}

.featured {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -6em;
  margin-bottom: 6em;
  z-index: 2;
}

.main {
  @extend %flex;
  @extend %container;
  flex-direction: row;
}

.addon-nav {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  margin-right: 2em;
}

.addon-listings {
  display: flex;
  flex: 1 1 auto;
}
