& {
  flex-direction: column;
  padding-left: 2rem;
}

.headline {
  margin-top: 0;
  margin-bottom: 1em;
  color: $white;
  font-size: 4em;
  font-weight: 300;
  line-height: 1;
}

.subhead {
  margin-top: 2em;
  margin-bottom: 0;
  color: $white;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.5;
}