& {
  @extend %flex;
}

.hero {
  @include hero-bg($brand-primary);
}

.page-hero,
.page-body {
  @extend %container;
}

.page-body {
  .content {
    order: 2;
  }
  .table-of-contents {
    order: 1;
    margin-top: -3rem;
    margin-left: 0;
    margin-right: 2rem;
    flex-basis: 15em;
  }
}