& {
  @extend %flex;
}

.hero {
  @include hero-bg($brand-primary);
}

.page-hero {
  padding-left: 0;
}

.page-body {
  @extend %container;

  .content {
    order: 2;
  }

  .table-of-contents {
    order: 1;
    margin-top: -3rem;
    flex-basis: 15em;
  }
}