{{#-ui/contours-background}}
  <div class="quickstart-hero">
    {{-ui/docs/page-hero page=(lookup-page doc.pages 'quickstart')}}
  </div>
  {{-ui/transition}}
{{/-ui/contours-background}}
<main class="quickstart-body">
  {{-ui/docs/page-body page=(lookup-page doc.pages 'quickstart')}}
</main>