& {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.overload-count {
  margin-left: 1em;
  font-size: 0.6em;
  text-transform: uppercase;
  opacity: 0.4;
}

.signatures {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;

  .primary.signature {
    display: flex;
    align-items: center;

    .return .value-type {
      font-weight: 900;
      opacity: 1;
    }
  }

  .overloads {
    margin-top: 0.1em;
    font-size: 0.9em;
    opacity: 0.6;
  }
}

.signature {
  display: flex;
  flex-wrap: wrap;
}

.method-name {
  font-weight: 900;
}

.paren {
  margin: 0 0.1em;
  opacity: 0.5;
}

.value + .value {
  &::before {
    content: ',';
    margin-right: 0.25em;
    opacity: 0.5;
  }
}

.method-section-header {
  margin-bottom: 0.5em;
  color: lighten($text-color, 50%);
  font-size: 0.8em;
  font-weight: 900;
}

.method-parameters {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  .parameter {
    margin: 0.2em 0;
  }

  .parameter-name {
    font-weight: 700;
  }
}

.method-return {
  .value-type {
    font-weight: 700;
    opacity: 1;
  }
}