<div class="list-container">
  {{#sticky-element top=offset}}
    <div class="inner-list">
      <div class="list-title">{{title}}</div>
      {{log root.children}}
      {{#each root.children as |child|}}
        {{#-ui/nav-list/node node=child as |leaf slug|}}
          {{yield leaf slug}}
        {{/-ui/nav-list/node}}
      {{/each}}
    </div>
  {{/sticky-element}}
</div>