<a href="https://npmjs.org/package/{{addon.name}}" target="_blank" class="wrapper">
  {{-ui/addon-graphic addon=addon}}
  <h3 class="headline">
    {{addon.name}}
  </h3>
  <p class="description">
    {{addon.truncatedDescription}}
  </p>
</a>