$apis-nav-width: 13em;

& {
  @extend %flex;
  position: relative;
}

.contours-background {
  @include hero($api-bg);
}

.api-hero {
  @extend %flex;
  @extend %container;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 3em;
  padding-bottom: 2em;
  z-index: 2;

  .api-nav-container {
    position: absolute;
    left: 0;
    margin-top: 3em;
    margin-right: 2em;
    z-index: 2;
  }

  .api-nav {
    @extend %flex;
    @extend %sheet;
    width: $apis-nav-width;
    padding-bottom: 0.5em;
    border-radius: $border-radius;
  }

  .apis-hero-intro {
    padding-left: $apis-nav-width + 2em;
    color: $white;
  }
}

.api-main {
  @extend %flex;
  @extend %container;
  flex-direction: row;
  align-items: flex-start;
  padding-left: $apis-nav-width + 2em;

  .api-body {
    padding-right: 2em;
  }
}