& {
  @extend %flex;
}

.hero {
  @include hero-bg($api-primary);

  .headline {
    font-size: 4rem;
  }

  .api-hero-overview,
  .api-hero {
    @extend %container;
  }

  .api-nav {
    width: $api-nav-width;
  }
}

.api-body {
  @extend %container;
  padding-left: $api-nav-width;
}

.api-content {
  flex-basis: $long-form-width;
}
