{{#-ui/contours-background}}
  <div class="api-hero">
    <div class="api-nav-container">
      {{#sticky-element top=50}}
        {{docs/api/-page/api-nav apis=doc.api currentVersion=version.displayName}}
      {{/sticky-element}}
    </div>
    {{-ui/docs/api-hero api=api class='apis-hero-intro'}}
  </div>
  {{-ui/transition}}
{{/-ui/contours-background}}
<div class="api-body">
  {{component kindComponentName api=api}}
</div>