& {
  @extend %container;
  display: flex;
  flex: 1 0 auto;
}

.table-of-contents-sticky-wrapper {
  position: relative;
  z-index: 2;
}

.table-of-contents {
  width: 15em;
  margin-top: 5em;
}

.guide-contents {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: calc(100% - 15em);
}

.guide-header {
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-right: 3em;
  color: $white;

  .group {
    margin: 1.4em 0 0.5em;
    font-weight: 700;
    letter-spacing: 0.2px;
    opacity: 0.7;
  }

  .title {
    margin: 0;
    font-size: 3.5em;
  }

  .lede {
    font-size: 1.1em;
    font-family: $serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
    opacity: 0.9;
  }
}

.guide-body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 3em;
    padding-right: 3em;
    padding-bottom: 3em;

    &::before {
      @extend %sheet;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(50% + 5.5em);
      width: 100vw;
      margin-left: -50vw;
    }

    &:nth-child(odd)::before {
      @extend %sheet-alternate;
      border-bottom: 1px solid darken($white, 7%);
    }

    > * {
      position: relative;
    }
  }

  h1, h2 {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 0.25em;
      width: 3em;
      height: 3px;
      border-radius: 3px;
      background-color: lighten($text-color, 20%);
    }
  }

  pre {
    padding: 1em;
    border-radius: 4px;
    background-color: $text-color;
    color: $white;
    line-height: 1.3em;
    overflow-x: auto;

    code {
      letter-spacing: 0;
    }
  }

  p {
    line-height: 1.5;
  }
}