& {
  flex: 0 0 $table-of-contents-width;
  margin-top: -7rem;
}

.toc-link {
  position: relative;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  &.active, &:hover {
    color: $text-color-dark;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0.5em;
      bottom: 0;
      width: 3px;
      border-radius: 3px;
      background-color: adjust-color($brand-primary, $lightness: 40%, $saturation: 80%);
    }
  }

  &.level-1 { margin-left: 0.00em; }
  &.level-2 { margin-left: 0.00em; }
  &.level-3 { margin-left: 0.40em; }
  &.level-4 { margin-left: 0.60em; }
  &.level-5 { margin-left: 0.80em; }
  &.level-6 { margin-left: 1.00em; }
}