& {
  max-height: calc(100vh - 15em);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border: 3px solid $white;
    border-radius: 12px;
    background-color: mix($white, $api-bg, 90%);
    &:hover {
      background-color: mix($white, $api-bg, 80%);
    }
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.package-header {
  padding: 0.5rem 0.75rem 0.3rem;
  color: mix($white, $api-bg, 30%);
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

.api-link {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  padding: 0.25em 1rem;
  color: inherit;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transform-origin: 0 50%;

  &:active {
    transform-origin: 0 50%;
    transform: scale(0.97);
  }

  &.active, &:hover {

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 100%;
      bottom: 0;
      width: 3px;
      border-radius: 3px;
      background-color: adjust-color($api-bg, $lightness: 50%, $saturation: 80%);
    }
  }

  &.active {
    font-weight: 900;
  }
}
