& {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.guide-header {
  flex-direction: column;
  margin-top: 2em;

  .group {
    @extend %no-line-heading;
    margin: 3em 0 0em;
    font-weight: 700;
    letter-spacing: 0.2px;
    opacity: 0.7;
  }

  .title {
    @extend %no-line-heading;
    margin: 0;
    font-size: 4em;
  }

  .lede {
    @extend %no-line-heading;
    font-size: 1.1em;
    font-family: $serif;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
    opacity: 0.9;
  }
}

.guide-body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h1, h2 {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 0.25em;
      width: 3em;
      height: 3px;
      border-radius: 3px;
      background-color: lighten($text-color, 20%);
    }
  }

  pre {
    padding: 1em;
    border-radius: 4px;
    background-color: $text-color;
    color: $white;
    line-height: 1.3em;
    overflow-x: auto;

    code {
      letter-spacing: 0;
    }
  }

  p {
    line-height: 1.5;
  }
}