{{#each results as |addon|}}
  {{addons/index/-page/addon class="result" addon=addon}}
{{else}}
  <div class="no-results">
    <img src="/images/not-found.svg" alt="" class="graphic">
    <p class="description">
      <strong>Bummer!</strong><br>
      I couldn't find anything.
    </p>
  </div>
{{/each}}