& {
  display: flex;
  flex-direction: column;

  &.featured {
    .card-type {
      display: block;
    }
  }
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  padding: 1em;
  border-radius: 3px;
  background-color: $white;
  color: inherit;

  &:nth-child(odd) {
    background-color: darken($white, 2%);
  }

  &:hover {
    .headline {
      text-decoration: underline;
    }
  }
}

.graphic {
  margin-right: 0.25em;
  font-size: 2em;
}

.card-type {
  display: none;
  margin-top: 1em;
  color: lighten($text-color, 50%);
  font-size: 0.7em;
  font-weight: 900;
  text-transform: uppercase;
}

.headline {
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.description {
  margin-top: 0.5em;
  margin-bottom: 0;
  color: $light-text-color;
}