<a href="https://npmjs.org/package/{{addon.name}}" target="_blank" class="wrapper">
  {{-ui/addon-graphic addon=addon}}
  <div class="copy">
    <h3 class="headline">
      {{addon.name}}
    </h3>
    <p class="description">
      {{addon.truncatedDescription}}
    </p>
  </div>
</a>