{{#if entry.inherited}}
  <div class="flag info">
    Inherited
  </div>
{{/if}}

{{#if entry.deprecated}}
  <div class="flag warning">
    Deprecated
  </div>
{{/if}}

{{#if entry.internal}}
  <div class="flag danger">
    Internal
  </div>
{{/if}}