<div class="contours"></div>

<div class="sidebar">

  <div class="brand">
    <img src="/images/logo.svg" alt="" class="logo">
    <div class="wordmark">Denali <span class="submark">Guides</span></div>
  </div>

  {{-ui/version-menu version=version}}

  <nav class="guides">
    {{#each-in guidesByGroup as |groupName guides|}}
      <div class="guides-group">
        <div class="group-header">
          {{groupName}}
        </div>
        <div class="group-list">
          {{#each guides as |guide|}}
            {{#link-to 'docs.guides.guide' version.id guide.slug class='guide-link'}}
              {{guide.title}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    {{/each-in}}
  </nav>

</div>

<div class="guide-main">
  <div class="meta">
    <div class="search">
      <img src="/images/search.svg" alt="" class="search-icon">
      <input class='search-term' placeholder='Search the guides …'>
    </div>
    <div class="links">
      {{#link-to 'marketing.index'}}denalijs.org{{/link-to}}
      {{#link-to 'docs.apis' version.id}}API Reference{{/link-to}}
    </div>
  </div>

  <div class="guide-content">
    <div class="guide-container">
      {{yield}}
    </div>
  </div>
</div>