& {
  @extend %flex;
}

.hero {
  @include hero-base($blog-primary);

  .headline {
    font-size: 4rem;
    line-height: 1.1;
  }

  .inner-hero {
    flex-direction: column;
  }
}

.post-body {
  @extend %flex;
  @extend %container;
  margin: 5rem 0;
}
