<div class="contours"></div>

<header class="app-header">
  {{#link-to 'marketing.index' class='brand'}}
    <img src="/images/logo.svg" alt="Denali logo" class="logo">
    <div class="wordmark">Denali</div>
  {{/link-to}}

  <nav class="nav">
    {{#link-to 'why-denali' class='nav-link'}}Why Denali{{/link-to}}
    {{#link-to 'docs.guides' 'stable' class='nav-link'}}Guides{{/link-to}}
    {{#link-to 'docs.apis' 'stable' class='nav-link'}}API Reference{{/link-to}}
    {{#link-to 'addons' class='nav-link'}}Addons{{/link-to}}
    {{#link-to 'community' class='nav-link'}}Community{{/link-to}}
  </nav>
</header>

<main class="main">
  {{yield}}
</main>

<footer class="footer">
  <div class="legal">
    Copyright {{year}} Dave Wasmer & contributors |
    Map background © Mapbox |
    <a href="https://github.com/denali-js/denali/">Github</a> |
    <a href="https://twitter.com/denali_js/">Twitter</a>
  </div>
</footer>