$reference-width: 600px;

& {
  display: flex;
}

.reference {
  display: flex;
  flex: 0.5 0 $reference-width;
  flex-direction: column;
  padding: 3em 3em;
  border-bottom: 1px solid rgba($black, 0.1);
}

.member-header {
  display: flex;
  align-items: center;
  position: relative;
  // margin-bottom: 0.75em;
  font-weight: 900;
}

.source {
  margin-bottom: 1rem;
  font-size: 0.8em;
  opacity: 0.4;

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.example {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border-bottom: 1px solid rgba($black, 0.1);
  background-color: $api-example-bg;
  color: $off-white;
}

.missing-example {
  align-self: center;
  color: rgba($white, 0.5);
  font-size: 0.8em;
  font-weight: 300;
  text-decoration: underline;
}