& {
  display: flex;
}

.reference {
  @extend %flex;
  flex-shrink: 1;
  padding: 3rem 0;
  border-bottom: 1px solid $off-white-border;
}

.member-header {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 900;
}

.source {
  margin-bottom: 1rem;
  font-size: 0.8em;
  opacity: 0.4;

  a {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}
