& {
  @extend %flex;
}

.hero {
  @include hero-bg($brand-primary);

  .terminal-wrapper {
    display: flex;
    flex: 1 0 50%;
    position: relative;
    z-index: 3;
  }

  .terminal {
    @include shadow-large;
    display: flex;
    flex: 0 0 auto;
    width: 50em;
    height: 35em;
    margin-left: 5em;
    background-color: #23241E;
    border-radius: 3px;
  }

  .window-controls {
    display: flex;
    padding: 0.7em;
  }

  .dot {
    @include dot(6px, rgba($white, 0.25));
    margin: 0.06em;
  }

  .copy {
    @extend %flex;
    flex: 1 0 50%;
    justify-content: center;
  }

  .cta {
    display: flex;
    font-size: $font-size-large;
  }

  .cta-primary {
    @extend %btn-primary;
    font-size: $font-size-large;
    margin-right: 1rem;
  }

  .cta-secondary {
    @extend %btn-secondary;
  }

}

.features {
  @extend %container;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 7rem 0;
}

.feature {
  @extend %flex;
  flex: 0 0 calc(33% - 2em);
  font-size: $font-size-large;

  .headline {
    position: relative;
    font-size: $font-size-large-plus;
  }
}

.callout {
  @extend %flex;
  background-color: $callout-bg;
  overflow: hidden;

  .container {
    @extend %container;
  }

  .copy {
    @extend %flex;
    flex: 0 0 50%;
    justify-content: center;
    padding: 2rem 2rem 2rem 0;

    .headline {
      margin: 0;
    }

    .description {
      margin-bottom: 0;
      font-size: 1.2em;
    }
  }

  .media {
    @extend %flex;
    position: relative;
    flex: 0 0 50%;
    justify-content: space-around;
    overflow-x: visible;
    padding: 2rem 0;

    .bg {
      position: absolute;
      top: 50%;
      width: 130%;
      transform: translateY(-50%);
    }

    .tile {
      @include shadow-medium;
      position: relative;
      margin: 1rem 0 1rem 6rem;
      padding: 1.5em;
      background-color: $white;
      border-radius: $border-radius;

      .headline {
        margin-top: 0;
        font-weight: 700;
      }
    }
  }
}

.testimonials {
  @extend %flex;
  @extend %container;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 8rem 0;
}

.testimonial {
  @extend %flex;
  flex: 0 0 42%;

  .quote {
    position: relative;
    color: $text-color-dark;
    font-style: italic;
    font-weight: 700;
    font-size: $font-size-large;
    letter-spacing: -0.5px;

    &::before {
      content: '“';
      position: absolute;
      top: -0.2em;
      right: calc(100% + 0.25em);
      font-size: 3em;
      opacity: 0.2;
    }
  }

  .attribution {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
    font-size: $font-size-large-minus;
    line-height: 1.2;

    .avatar {
      height: 3em;
      margin-right: 1ch;
      border-radius: 500px;
    }
  }
}

.users {
  @extend %flex;
  padding: 3rem 0 6rem;
  background-color: $callout-bg-dark;

  .container {
    @extend %flex;
    @extend %container;
  }

  .headline {
    margin-bottom: 2rem;
    color: $white;
    font-size: $font-size-extra-large;
    text-align: center;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}