<div class="hero">
  <div class="container">

    <div class="terminal">
      <div class="window-controls">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="asciicast-container"></div>
    </div>

    <div class="copy">
      <h1 class="headline">
        Build ambitous Node.js APIs
      </h1>
      <p class="subhead">
        An extensible, batteries-included framework for building amibitous
        APIs. With a powerful addon system, best-in-class developer experience,
        and extensive documentation, Denali has got you covered.
      </p>
    </div>
    
  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/no-orm-lock-in.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        No ORM lock-in
      </h2>
      <p class="description">
        Use whatever database you want. Denali helps you unleash the full
        power of your data store with ORM Adapters, which let you bring your
        own ORM.
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Learn more about ORM Adapters
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/addons.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Powerful addons
      </h2>
      <p class="description">
        Package your shared code as a Denali Addon, a full-featured
        mini-app. Leverage a growing ecosystem to drop in functionality as
        easily as <code>denali install</code>. In fact - Denali itself is
        just another Denali addon <img src="/images/emoji/mindblown.gif" alt="" class="emoji"> 
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Browse the Addon ecosystem
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/dx.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Developer Experience
      </h2>
      <p class="description">
        We've invested heavily in a top-notch developer experience (DX). From
        versioned docs to debugging tools, building with Denali leaves you
        with a smile.
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Check out the CLI docs
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/testing.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Testing baked in
      </h2>
      <p class="description">
        Denali has testing baked into the core framework. In fact, Denali's
        own test suite uses the same tooling that apps and addons do. Whether
        it's fully mocked acceptance tests or unit testing modules via
        Denali's dependency injection system, we've got you covered.
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Check out the testing tools
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/languages.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Bring your own language
      </h2>
      <p class="description">
        The CLI is built around a powerful build system, allowing you to
        author your code in any language you want. Apps and addons can mix
        and match languages with ease. Plus, Denali itself is written in
        Typescript, so type definitions are always up to date.
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Add a language compiler to your project
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/realtime.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Realtime ready
      </h2>
      <p class="description">
        First class realtime abstractions let you build modern mobile and web
        apps with ease. Denali focuses on giving you the right abstractions
        to get the job done well.
      </p>
      {{#link-to 'roadmap' class='cta-link'}}
        Coming soon
      {{/link-to}}
    </div>

  </div>
</div>

<div class="feature">
  <div class="container">
    
    <img src="/images/features/community.svg" alt="" class="graphic">

    <div class="copy">
      <h2 class="headline">
        Helping hands when you need it
      </h2>
      <p class="description">
        With an active Slack community, quick answers to StackOverflow
        questions, a discussion forum for longer threads, and weekly free
        office hours with core team, you'll get the help you need and feel
        right at home.
      </p>
      {{#link-to 'docs' class='cta-link'}}
        Find some help
      {{/link-to}}
    </div>

  </div>
</div>